<%- include('partials/header') %> 

<!-- <h2>This is the post page</h2> -->
<p>
    <h1><%= title %> </h1>
    <br>
    <div class="post_body"><%= body %></div> 
</p>


<%- include('partials/footer') %> 